@bldgtyp:registry=https://npm.pkg.github.com
minimum-release-age-exclude[]=@bldgtyp/web-report-kit
minimum-release-age-exclude[]=@bldgtyp/web-report-schemas
minimum-release-age-exclude[]=@bldgtyp/web-report-template
